.news-box {
  position: relative;
  height: 300px;
  border: #000 2px solid;
  padding: 20px 40px;
  font-family: "Smiley sans";
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px #00000000;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.news-box:hover {
  box-shadow: 5px 5px #000;
}

.news-title {
  font-size: 26px;
  margin-block: 10px;
}
.news-time {
  position: absolute;
  bottom: 20px;
  right: 40px;
}
.news-content {
  overflow: hidden;
  font-size: 18px;
  line-height: 1.5;
  padding: 20px 0;
  font-family: "Noto Serif SC";
}

@media screen and (max-width: 768px) {
  .news-box {
    padding: 20px 20px;
    height: auto;
  }
  .news-time {
    right: 20px;
    bottom: 10px;
  }
  .news-content {
    font-size: 1rem;
    /* 首行缩进 */
    text-indent: 2em;
  }
}
